.authorization {
  text-align: right;
  background-color: green;
}

.authorization button {
  float: right;
}
table {
  border-collapse: collapse;
  width: 100%
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px 4px;
}

tr:nth-child(even){
  background-color: #ffce9e;
}

.data-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#chart {
  max-height: 100px;
}
